footer{
    background-color: var(--navy-color);
    height: 350px;
    margin-bottom: 0;
}

.footer-section1{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 60px !important;
    border-bottom: 1px solid white;
}
.footer_coulmn {
    width:20%;
    display: flex;
    flex-direction: column;
    gap:10px;

}
.footer_coulmn svg{
    display: block;
    width: 70%;
    margin: 20px 0px;
}
.footer_coulmn svg .a{
    fill:white;
    opacity: 1;

}
.footer_coulmn p{
    color: white;
    font-size: 12px;
    margin-bottom: 30px;
}
.footer_coulmn a{
    display: block;
    text-decoration: none;
    color:white;
    font-size: 14px;
    margin-bottom: 30px;
}
.footer_coulmn h4{
    color: white;
    margin-top: 20px;
}
.footer_coulmn h4 span{
    padding-bottom:8px ;
    border-bottom: 2px solid white;
}
.footer_coulmn ul{
    list-style-type: none;
    display: block;
    margin-bottom: 0;
}
.footer_coulmn ul li{
    display: block;
    color:white;
    margin: auto;
    margin-bottom: 10px;
    font-size: 14px;

}
.social-media{
    display: flex;
    width: 80%;
    justify-content: space-between;

}
.fa {
  padding: 2px;
  font-size: 18px !important;
  width: 20px;
  text-align: center;
  text-decoration: none;
  background: white;
  color: var(--navy-color) !important;
}
.footer-section2{
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.footer-section2 p{
    display: block;
    color: white;
    font-size: 12px;
    word-spacing: 2px;
}
@media screen and (max-width: 1024px){
    .footer-section1{
        flex-direction: column;
    }
    .footer_coulmn ul{
        display: none;
    }

}
