:root {
    --logo-orange: #e98300;
    --header-bg: #D7D3C7;
    --navy-color: #003150;
    --header-color-with-opacity: #F9F8F6;
    --red-border: #AA272F;
}

* {
    box-sizing: border-box !important;
}

body,
header,
p {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Arial, sans-serif;

}

.announcement {
    background-color: var(--header-bg);

}

.announcement p {
    font-size: 14px;
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    padding: 15px;
    font-weight: 200;
}

.announcement p a {
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


.navbar {
    border-bottom: 5px solid var(--red-border);
    padding: 10px 0;

}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}


.logo {
    width: 15%;
    height: auto;
    display: flex;
    justify-content: left !important;
    padding: 0;
}

.logo svg {
    max-width: 100%;
    display: block;
}

.x {
    fill: var(--logo-orange);
}

.x1 {
    fill: var(--logo-orange);
    opacity: 0.8;
}

.a {
    fill: var(--navy-color);
    opacity: 0.65;
}

.material-icons {
    color: var(--navy-color);
    font-size: 20px !important;
    vertical-align: middle !important;
    margin-left: 15px;
    padding: 7px;
    padding-right: 0;
}

.arrow_right_alt,
.arrow_right_alt_navy {
    vertical-align: middle;
    color: black;
    margin-left: 2px;
    padding: 0;
}

.header-top {
    padding: 0px 10px;
    background-color: var(--header-color-with-opacity);
    box-shadow: 0px 0px 8px #D3DEE4;
    padding: 0;
    margin: 0;

}

.header-top .container {
    display: flex;
    justify-content: right;

}

.header-top .icon {
    background-color: var(--header-color-with-opacity);
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    margin: 0px 10px;
    color: var(--navy-color);
    font-weight: 550;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;

}

.menu a,
.search a {
    display: flex;
    justify-content: center;
    color: var(--navy-color);
    text-decoration: none;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;

}

.search span {
    margin: 0;
    font-size: 22px !important;
    padding: 0;
}


#toggle-menu,
.menu-icon {
    display: none;
}

li span {
    display: none !important;
}

#close_li {
    display: none;
}

@media screen and (max-width: 1024px) {
    .navbar .container {
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }

    .header-top {
        display: none;
    }


    .logo {
        width: 50%;
        margin: auto;
    }

    .menu-icon {
        display: inline-block;
    }

    .search a {
        display: none;
    }

    .search span,
    .menu-icon span {
        display: inline-block;
        margin: auto;
    }

    .menu ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 88%;
        flex-direction: column;
        justify-content: start;
        background-color: white;
        z-index: 400;
        padding: 0px;
        margin: 0px;
        gap: 0px;
        height: 335;

    }

    li {
        width: 100%;
        border-bottom: 1px solid #D7D3C7;
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu a {
        display: block;
        width: 100%;
        margin: 0;
        padding: 16px 16px;
        text-align: left !important;
        white-space: nowrap;
    }

    #toggle-menu:checked~.menu ul {
        display: flex;
    }

    #toggle-menu:checked~.menu ul li span {
        display: inline-block !important;
        color: var(--navy-color);
        padding-right: 10px;
        font-size: 18px;
    }

    #toggle-menu:checked~.menu ul #close_li {
        display: block;
        border-bottom: 3px solid var(--red-border);
    }

    #toggle-menu:checked~.menu ul #close_li #close {
        display: block;
        cursor: pointer;
        font-size: 28px;
        margin: 0;

    }

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 10;
    }

    #toggle-menu:checked~#overlay {
        display: block;
    }

    .header-top {
        display: none;
        position: fixed;
        top: 335px;
        width: 88%;
        z-index: 200;
        border: none;
        box-shadow: none;
        height: calc(100vh - 335px);
    }

    .header-top .container {
        padding: 20px 0px !important;
        flex-direction: column;
        column-gap: 10px;
        justify-content: start;
        margin: 0;
        box-sizing: border-box;
    }

    .icon span {
        display: inline-block;
        margin: auto;
    }

}