:root {
    --logo-orange: #e98300;
    --header-bg: #D7D3C7;
    --navy-color: #003150;
    --header-color-with-opacity: #F9F8F6;
}

* {
    box-sizing: border-box !important;
}
body,
header,
p {
    margin: 0;
    padding: 0;
}

.announcement {
    background-color: var(--header-bg);

}

.announcement p {
    font-size: 14px;
    text-align: center;
   font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    padding: 10px;
}

strong {
    white-space: nowrap;
}


.navbar {
    border-bottom: 5px solid #AA272F;
    padding: 10px 0;

}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    width: 12.5%;
    height: auto;
}

.logo svg {
    max-width: 100%;
    display: block;
}

.x {
    fill: var(--logo-orange);
}

.x1 {
    fill: var(--logo-orange);
    opacity: 0.8;
}

.a {
    fill: var(--navy-color);
    opacity: 0.65;
}
.material-icons {
    color: var(--navy-color);
    font-size: 20px !important;
    vertical-align: middle !important;
    margin-left: 15px;
}

#arrow_right_alt {
    vertical-align: middle;
    color: black;
    margin-left: 2px;
    padding: 0;
}

.top-now { 
    padding: 0px 10px;
    background-color: var(--header-color-with-opacity);
    box-shadow: 1px 1px 5px #D3DEE4;

}
.top-now .container{
    display: flex;
    justify-content: end;

}

.top-now .icon{
    background-color: var(--header-color-with-opacity);
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    margin:0px 10px;
    color: var(--navy-color);
    font-weight: bold;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;

}

.menu a,
.search a ,#menu_mobile a{
    display: flex;
    justify-content: center;
    color: var(--navy-color);
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.search {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 5px; 
}

.search a {
    display: flex;
    align-items: center;
    color: var(--navy-color);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding: 10px;
}

.search span {
    margin: 0; 
    font-size: 22px !important;
}

#menu_mobile {
    display: none;
}
.material-icons {
    color: var(--navy-color);
    font-size: 22px !important;
    vertical-align: middle !important;
    padding: 10px;
}

@media screen and (max-width: 1024px) {

    .top-now,
    .menu:not(#menu_mobile) {
        display: none;
    }
    #menu_mobile {
        display: flex;
        justify-content: start;
       

    }
    .logo {
        width: 50%;
    }
    .search a ,#menu_mobile a{
        display: none;
    }
      #menu_mobile span,
    .search span {
        display: inline-block;
        margin: auto;
    }
}