.container {
    box-sizing: border-box;
    max-width:1350px;
    width:100%;
    margin-inline: 0 auto;
    padding-inline: 16px;
}

@media (min-width:768px) {
    .container {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media (min-width:1024px) {
    .container {
        padding-left: 32px !important;
        padding-right: 32px !important;

    }

}
@media (min-width:1200px) {
    .container {
        padding-left: 50px !important;
        padding-right: 50px !important;

    }
    
}