@media screen and (max-width: 1024px) {
    .navbar > div:first-of-type{
        justify-content: space-between;
        position: relative;
    }
    .secondary_nav {
        display: none;
    }
    .logo {
        width: 50%;
        margin: auto;
    }
    .menu-icon {
        display: inline-block;
    }
    .search a {
        display: none;
    }
    .search span,
    .menu-icon span {
        display: inline-block;
        margin: auto;
    }
    .menu ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 86vw;
        flex-direction: column;
        justify-content: start;
        background: linear-gradient(to bottom, white 0vh 350px, var(--header-color-with-opacity) 350px 100vh);
        z-index: 400;
        padding: 0px;
        margin: 0px;
        gap: 0px;
        height: 100vh;
    }
    li {
        width: 100%;
        border-bottom: 1px solid #D7D3C7;
        box-sizing: border-box;
        padding: 0px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }
    .menu a {
        display: block;
        width: 100%;
        margin: 0;
        padding: 16px 16px;
        text-align: left;
        white-space: nowrap;
    }
    #toggle-menu:checked~.menu ul {
        display: flex;
    }
    #toggle-menu:checked~.menu ul li span{
        display: inline-block !important;
        color: var(--navy-color);
        padding-right: 10px;
        font-size: 18px;
    }
    #toggle-menu:checked~.menu ul #close_li {
        display: block;
        border-bottom: 3px solid var(--red-border);
    }
    #toggle-menu:checked~.menu ul #close_li #close {
        display: block;
        cursor: pointer;
        font-size: 28px;
        margin: 0;
    }
    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 10;
    }
    #toggle-menu:checked~#overlay {
        display: block;
    }
    .menu ul li.mobile-only{
        display: block !important;
        border:none;
        padding-bottom: 0px;
        margin-bottom:0px;
        background-color: var(--header-color-with-opacity);
        height: 40px;
    }
}