@media (max-width: 768px) {
    .photo_section {
        height: 250px;
    }
    .photo_section .center-text h1 {
        font-size: 28px;
        line-height: 1.3;
        padding: 0 10px;
    }
    .photo_section .center-text button {
        width: 180px;
        padding: 10px 20px;
        font-size: 14px;
    }
    .intro > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .intro > div:first-of-type h3 {
        text-align: center;
        padding: 0;
        margin: 10px;
    }
    .intro > div:first-of-type #description {
        border: 2px solid #D7D3C7;
        padding: 20px;
        font-size: 15px;
        height: auto;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .intro-side {
        width: 80%;
        padding: 15px 20px;
        text-align: center;
        margin: 20px auto 0 auto;
        height: auto;
        top: 0;
        z-index: 1;
        background-image: url("../../images/intro_img_lg.png");
    }
    .intro-side p {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    #find-rep {
        display: block;
        text-align: center;
        margin: auto;
        font-size: 14px;
        padding: 0;
    }
    .video-section {
        height: auto;
    }
    .video-section > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .video-text {
        position: static;
        width: 90%;
        height: auto;
        padding: 20px;
        text-align: center;
        margin: auto;
    }
    .video-text h5{
        margin: 10px;
    }
    .video-text h4 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .video-text p {
        font-size: 14px;
    }
    .iframe-box {
        height: 300px;
        width: 100%;
        border-radius: 5px;
        margin: auto;
    }
    .play-button {
        width: 45px;
        height: 45px;
        font-size: 22px;
    }
    .solutions h1 {
        height: 30px;
    }
    .solutions .rentals,
    .solutions .custome-solutions {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        gap: 10px;
        height: 500px;
        position: relative;
    }
    .solutions .img_box{
        width: 320px;
        height: 240px;
        margin: auto;
    }
    .solutions img {
        max-width: 100%;
        height: 100%;
    }
    .solutions .text {
        width: 90%;
        position: static;
        margin: 0 auto;
    }
    .custome-solutions .img_box{
        order: 2;
    }
     .custome-solutions .text{
        order: 1;
     }
    .text p {
        font-size: 16px;
    }
    .text h3 {
        font-size: 18px;
    }
    .learn-more,
    .read-more {
        font-size: 14px;
    }
    .internal-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .recent-news-card {
        width: 100%;
        border: 1px solid gray;
        height: auto;
        padding: 20px;
    }
    .recent-news-card .img_box{
        width: 300px;
        height: 225px;
        margin: auto;
    }
     .recent-news-card img {
        max-width: 100%;
        height: 100%;
    }
    .show-more-button {
        display: none;
    }
    .product {
        height: 200px;
        padding: 20px;
    }
    .product h1 {
        font-size: 35px;
        line-height: 1.2;
    }
    .elements {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .categories_element {
        width: 90%;
        margin: auto;
    }
    .categories_element a {
        font-size: 16px;
    }
    .categories_element .img_box{
        width: 160px;
        height: 120px;
        margin: auto;
    }
    .categories_element img {
        max-width: 100%;
        height: 100%;
    }
    .products_box,
    .discover_more_box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .product_card,
    .discover_more_element {
        width: 95%;
        margin: auto;
    }
    .product_card {
        height: 500px;
    }
     .product_card .img_box {
        width: 320px;
        height: 240px;
        margin: 40px auto;
    }
    .product_card img{
        max-width: 100%;
        height: 100%;
        margin: auto;
    }
    .discover_more_element p {
        font-size: 10px;
    }
    .discover_more_element h2 {
        font-size: 12px;
    }
    .discover_more_element {
        height: 400px;
        margin-bottom: 30px;
    }
    section {
        margin-bottom: 30px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .photo_section {
        height: 320px;
        background-position: center;
        margin-bottom: 20px;
    }
    .photo_section .center-text h1 {
        font-size: 38px;
    }
    .photo_section .center-text button {
        width: 200px;
        font-size: 15px;
    }
    .intro > div:first-of-type {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        gap: 10px;
        padding: 20px;
        align-items: center; 
        justify-items: center;
        position: relative;
        margin: 0;
        margin-bottom: 30px;
    }
    .intro > div:first-of-type #description {
        font-size: 15px;
        height: 200px;
        margin: 0 10px;
        position: static;
    }
    .intro-side {
        height: auto;
    }
    .intro > div:first-of-type h3 {
        position: relative; 
        margin-top: 0;  
    }
    .video-section {
        height: 300px;
    }
    .video-section > div:first-of-type {
        grid-template-columns: 1fr 1.5fr;
        gap: 15px;
    }
    .video-text {
        top: 0;
        right: -10px;
        height: 280px;
        padding: 10px;
    }
    .video-text h4 {
        font-size: 22px;
    }
     .video-text h5{
        margin: 15px;
     }
    .iframe-box {
        height: 280px;
    }
    .play-button {
        width: 55px;
        height: 55px;
        font-size: 28px;
    }
    .solutions {
        height: auto;
    }
    .solutions .img_box {
        width: 320px;
        height: 240px;
        margin: auto;
    }
     .solutions img{
        width: 100%;
        height: 100%;
     }
    .solutions h1 {
        height: 30px;
    }
    .solutions .rentals,
    .solutions .custome-solutions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        height: 300px;
        position: relative;
    }
    .solutions .text {
        position: absolute;
        width: 90%;
        position: static;
        margin: auto;
        top: 0;
    }
    .internal-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .recent-news-card .img_box {
        width: 200px;
        height: 150px;
        margin: auto;
    }
    .recent-news-card img {
        max-width: 100%;
        height: 100%;
    }
    .recent-news-card {
        width: 100%;
    }
    .product {
        height: 250px;
    }
    .product h1 {
        font-size: 50px;
    }
    .elements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .categories_element {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .categories_element a {
        font-size: 18px;
        display: block;
        margin: auto;
    }
    .categories_element .img_box {
        width: 200px;
        height: 150px;
        margin: auto;
    }
     .categories_element img {
        width: 100%;
        width: 100%;
     }
    .products_box {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .products_box .img_box {
        height: 210px;
        width: 210px;
        margin: 40px auto;
    }
    .product_card img {
        height: 100%;
        width: 100%;
        margin: auto;
    }
    .product_card {
        width: 100%;
    }
    .discover_more_box {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 15px;
    }
    .discover_more_element {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1.8fr;
    }
    .discover_more_element .text{
        padding: 10px;
    }
    .discover_more_element p {
        font-size: 12px;
    }
    .discover_more_element h2 {
        font-size: 16px;
    }
      .discover_more_element h5 {
        margin: 10px;
      }
    .show-more-button {
        display: none;
    }
}