.discover_more {
    margin-bottom: 50px;
}
.discover_more h2 {
    margin-bottom: 30px;
}
.discover_more_box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.discover_more_element {
    position: relative;
    width: 50%;
    display: flex;
    height: 400px;
}
.discover_more_element img {
    display: block;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
}
.discover_more_element .text {
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    height: 400px;
    padding: 20px;
    color: white;
}
.discover_more_element h2 {
    text-align: left;
}
.discover_more_element .text h5 {
    margin-bottom: 50px;
}
.discover_more_element .text p {
    font-size: 15px;
}
.discover_more_element .text a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.purple {
    background-color: #53284F;
}
.teal {
    background-color: #477f80;
}