.intro {
    padding: 0;
    margin: 0;
}
.intro > div:first-of-type {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.intro > div:first-of-type h3 {
    padding: 20px;
}
.intro > div:first-of-type #description {
    border-left: 2px solid #D7D3C7;
    padding: 0 25px;
   font-size: clamp(1.125rem, 2.5795rem + -2.2727vw, 0.875rem);
    height: 110px;
}
.intro-side {
    position: relative;
    width: 200px;
    height: 170px;
    background-image: url('../../images/intro_img.png');
    z-index: 20;
    top: -90px;
    right: 0;
    padding: 10px;
}
.intro-side p {
    border: none;
    color: white;
    margin:10px;
    font-size: 14px;
}
#find-rep,
#find-rep span {
    font-size: 11px;
    text-decoration: none;
    color: white;
    margin: auto;
}

