@media (max-width: 768px) {
    .intro > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .intro > div:first-of-type h3 {
        text-align: center;
        padding: 0;
        margin: 10px;
    }
    .intro > div:first-of-type #description {
        border: 2px solid #D7D3C7;
        padding: 20px;
        font-size: 15px;
        height: auto;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .intro-side {
        width: 80%;
        padding: 15px 20px;
        text-align: center;
        margin: 20px auto 0 auto;
        height: auto;
        top: 0;
        z-index: 1;
        background-image: url("../../images/intro_img_lg.png");
    }
    .intro-side p {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    #find-rep {
        display: block;
        text-align: center;
        margin: auto;
        font-size: 14px;
        padding: 0;
    }
}