@media (min-width: 768px) and (max-width: 1024px) {
    .internal-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
    .recent-news-card .img_box {
        width: 200px;
        height: 150px;
        margin: auto;
    }
    .recent-news-card img {
        max-width: 100%;
        height: 100%;
    }
    .recent-news-card {
        width: 100%;
    }
}