.recent-news {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.recent-news > div:first-of-type {
    position: relative;
}
.internal-box {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    gap: 20px;
}
.recent-news-card {
    width: 33.3%;
    height: 400px;
    padding: 0;
}
.internal-box .text p {
    font-size: 13px;
    width: 90%;
}
.recent-news-card .text h4{
    font-size: clamp(1rem, 1.7273rem + -1.1364vw, 0.875rem);
}
.recent-news-card img {
    display: block;
    width: 90%;
    height: 230px;
    margin: auto;
}
.all_news {
    float: right;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
