.solutions {
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}
.solutions > div:first-of-type{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rentals {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    height: 400px;
}
 h2{
    font-size: 30px;
    text-align: center;
}
.rentals img,
.custome-solutions img {
    display: block;
    height: 380px;
}
.rentals .text,
.custome-solutions .text {
    position: relative;
    top: 70px;
}
.text h3.underline {
    color: gray;
    position: relative;
}
.text h3.underline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 7%;       
  height: 2px;
  background-color: gray;
}
.text p {
   font-size: clamp(1rem, -0.4545rem + 2.2727vw, 1.25rem);
}
.rentals strong,
.custome-solutions strong {
    display: block;
    font-size: 20px;
    color: black;
}
.custome-solutions {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.learn-more,
.read-more {
    color: var(--navy-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.arrow_right_alt_navy {
    color: var(--navy-color);
}
