@media (max-width: 768px) {
    .video-section {
        height: auto;
    }
    .video-section > div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .video-text {
        position: static;
        width: 90%;
        height: auto;
        padding: 20px;
        text-align: center;
        margin: auto;
    }
    .video-text h5{
        margin: 10px;
    }
    .video-text h4 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .video-text p {
        font-size: 14px;
    }
    .video-box {
        height: 300px;
        width: 100%;
        border-radius: 5px;
        margin: auto;
    }
    .play-button {
        width: 45px;
        height: 45px;
        font-size: 22px;
    }
}